.*.swp
*.pyc
.installed.cfg
.mr.developer.cfg
pip-selfcheck.json
bin/
develop-eggs/
eggs/
include/
lib/
parts/
share/
src/deform/
src/pygame/
src/pykaraoke/
src/pyramid/
src/sddav/
src/sddci/
src/sdexternaledit/
src/substanced/
src/wxpython/
src/lesswatcher/
src/bootswatch/
src/bootstrap/
src/pyramid_redis_sessions
var/
tmp/
etc/supervisord.conf
kar/
