[buildout]
develop =
    src/yss
extensions =
    mr.developer
parts =
    var
    site
sources-dir = src
auto-checkout = *
github = git@github.com:Pylons

[sources]
substanced = git ${buildout:github}/substanced.git branch=feature.cascading
sdexternaledit = git ${buildout:github}/sdexternaledit.git
pyramid = git ${buildout:github}/pyramid.git
lesswatcher = git git@github.com:jonycheung/Dead-Simple-LESS-Watch-Compiler.git egg=false
bootswatch = git git@github.com:thomaspark/bootswatch.git egg=false
bootstrap = git git@github.com:twbs/bootstrap.git egg=false tag=v3.4.0
pyramid_redis_sessions = git git@github.com:mcdonc/pyramid_redis_sessions.git branch=pyramid-2x-compat

[site]
recipe = zc.recipe.egg
dependent-scripts = true
eggs =
    yss
    substanced
    sdexternaledit
    nose
    nose_selecttests
    coverage
    repoze.profile
    Sphinx
    repoze.debug
interpreter = py

[var]
recipe = z3c.recipe.mkdir
paths = var/blobs
        var/uploads_tmp
        var/postproc
        

