/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 65px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

.pager-compact {
  margin: auto;
}

.karaoke-type-upcoming {
    color: #999999;
}
.karaoke-type-ready {
    color: #058359;
}
.karaoke-type-instrumental {
    color: #065BC4;
}
.karaoke-display {
    padding: 0 0 10px 0;
}
.karaoke-overlay {
    color: #FF0000;
    font-weight: normal;
    text-decoration: underline;
}

#loading-dialog{padding:20px;border:3px solid #CCCCCC;}

#player {padding:20px;border:3px solid #CCCCCC;}

#karaoke-display{font-size:200%;text-align:center;}

#controls{}

#buttons{float:left;}

#status{float:right;padding:6px 0 0 0;}
